# Managed by Ansible
dir:/var/audit
dist:off
flags:{{ auditd_flags }}
minfree:{{ auditd_minfree }}
naflags:{{ auditd_naflags }}
policy:{{ auditd_policy }}
filesz:{{ auditd_filesz }}
expire-after:{{ auditd_expire_after }}
